.header-background li:nth-child(4) {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-top: 4px;
    border-bottom: none;
}

.header-background li:nth-child(5) {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-top: 4px;
    border-bottom: #fbad41 solid 4px;
}

.exciting-item {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-size: 20px;
    margin-bottom: 30px;
}

.exciting-item-link {
    display: flex;
    width: 100%;
    margin-bottom: 30px;
    text-decoration: none;
    color: #fbad41;
    font-size: 20px;
    font-weight: bold;
}

.exciting-item-image {
    width: 30%;
    height: 100%;
    margin: 0 5% 30px 0;
}

.exciting-item-text {
    display: flex;
    width: 65%;
    line-height: 40px;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 480px) {
    .exciting-item-image { width: 70%; }

    .exciting-item-text { width: 100%;  }
}
