body {
    font-family: Open Sans, sans-serif;
}
.container {
    /*max-width: 1140px;*/
    width: 100%;
    margin: 0 auto;
}

/* HEADER */

.header-background {
    font-size: 16px;
    background-color: #f7f2f2;
}

.nav {
    width: 64%;
    margin-right: 20px;
}

.main-menu {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.main-menu-list {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

.main-menu-list-item-current {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-top: 4px;
    border-bottom: #fbad41 solid 4px;
}

.main-menu-list-item {
    display: flex;
    height: 45px;
    align-items: center;
    list-style: none;
    font-weight: bold;
}

.main-menu-burger{  
    display: none;
}

.main-menu li a {
    text-decoration: none;
    color: #131313;
}

.main-menu li a:hover {
    color: #fbad41;
}

.main-menu p {
    margin: 0;
    padding: 0;
}
.main-menu-search-container {
    display: flex;
    /*width: 36%;*/
}
.main-menu-search {
    display: flex;
    /*width: 18%;*/
    height: 35px;
    padding-left: 13px;
    box-sizing: border-box;
    color: #939393;
    font-weight: bold;
    align-items: center;
    border: none;
    background-color: #fff;
}

.main-menu-search:focus {
    outline: none;
}

.button-search {
    display: flex;
    /*width: 12%;*/
    flex-wrap: nowrap;
    padding-right: 15px;
    /*max-width: 143px;*/
    height: 35px;
    margin-left: -20px;
    align-items: center;
    border-radius: 17.5px;
    color: #ffffff;
    font-weight: bold;
    background-color: #fbad41;
}

.button-search img {
    margin: 0 15px;
}

/* SECTION */
/* Информация */
.info {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.info-logo {
    display: flex;
    margin-right: 5px;
    height: 100px;
    max-width: 380px;
    font-weight: bold;
}

.info-logo p {
    margin: 0;
    padding: 0;
}

.info-logo-text {
    font-size: 36px;
}

.info-logo-text span {
    display: flex;
    margin-left: 5px;
    font-size: 14px;
    color: #939393;
}

.info-city {
    width: 200px;
    margin: 10px 50px 0 90px;
    font-weight: bold;
}

.info-button {
    display: flex;
    width: 50px;
    height: 50px;
    margin-top: 25px;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    box-shadow: 3px 3px 3px 3px #e7e7e7;
}

.info-contacts {
    display: flex;
    max-width: 250px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.info-contacts p {
    margin: 0;
    padding: 0;
    color: #939393;
}

.info-contacts tel {
    margin: 10px 0;
    font-size: 22px;
    font-weight: bold;
}

.info-contacts a {
    text-decoration: none;
    color: #fbad41;
}

.info-basket {
    display: flex;
    height: 100px;
    max-width: 100px;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

/* Баннер */

.banner-container {
    display: inline-flex;
    width: 100%;
    height: 350px;
    flex-direction: column;
    flex-wrap: wrap;
}

.banner {
    /*max-width: 375px;*/
    width: 33%;
    height: 350px;
    background: #fbad41;
}

.banner-text {
    margin: 40px 15px 26px 33px;
    font-size: 35px;
    font-weight: bold;
    color: white;
}

.banner-button {
    display: flex;
    width: 155px;
    height: 50px;
    margin-left: 26px;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-color: #ffffff;
}

.banner-button a { text-decoration: none;}

.banner-image {
    /*max-width: 375px;*/
    width: 33%;
    height: 350px;
    background-image: url(../images/iphone8_red_large.png);
}

/* Предложения */
.offer {
    /*max-width: 367px;*/
    width: 32%;
    height: 163px;
    margin-left: 20px;
    font-size: 23px;
    font-weight: bold;
    line-height: 35px;
    border: 1px solid #7b7b81;
}

.offer a { text-decoration: none;}

/* Первое предложение */
.offer-first {
    position: relative;
}

.offer-first-text {
    width: 367px;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Выравнивание надписи Подробнее */
.offer-first .text-go {
    margin-left: 15px;
}

/* Выравнивание стрелки */
.offer-first .text-go-arrow {
    margin-bottom: -2px;
}

/* Выравнивание картинки */
.offer-first-image {
    position: absolute;
    right: 10px;
    bottom: 0;
    margin-left: 100px;
}

/* Второе предложение */
.offer-second {
    position: relative;
    margin-top: 20px;
}

.offer-second-text {
    display: inline-block;
    margin-left: 180px;
    margin-top: 10px;
    margin-bottom: 0px;
}

/* Выравнивание надписи Подробнее */
.offer-second .text-go {
    margin-left: 180px;
}

/* Выравнивание стрелки */
.offer-second .text-go-arrow {
    margin-bottom: -2px;
}

/* Выравнивание картинки */
.offer-second-image {
    position: absolute;
    left: 10px;
    bottom: 0;
    display: inline-block;
}

/* Кнопка Подробнее */
.text-go {
    display: inline;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
    color: #fbad41;
}

.text-go-arrow {
    margin-left: 10px;
}

/* Каталог */
.catalog-container {
    display: flex;
    justify-content: space-between;
}
.catalog {
    display: flex;
    width: 30%;
    height: 444px;
    margin-top: 30px;
    font-size: 36px;
    font-weight: bold;
    color: #333333;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid #e8e8e8;
}

.catalog p {
    margin-top: 41px;
}

.catalog:hover {
    box-shadow: 5px 5px 30px 5px #eeeded;
    color: #fbad41;
}

/* Популярные товары */
.popular-background {
    background-color: #f3f4f6;
}

.popular-container {
    display: flex;
    flex-wrap: nowrap;
    height: 520px;
    justify-content: space-between;
    margin-top: 30px;
}

.popular {
    display: inline-flex;
    flex-wrap: wrap;
    width: 23%;
    height: 461px;
    box-sizing: border-box;
    margin-top: 30px;
    padding-left: 41px;
    padding-bottom: 40px;
    align-items: flex-start;
    font-size: 36px;
    font-weight: bold;
    color: #333333;
    background: #ffffff;
}

/*.popular p {
    margin: 0;
    padding: 0;
    width: 70%;
}*/

.popular:not(.popular-title):hover {
    color: #fbad41;
}

.popular-title {
    font-size: 36px;
    line-height: 40px;
    padding-left: 0px;
    border: none;
    background: none;

}

.popular-picture {
    margin-top: 38px;
    margin-bottom: 24px;

}

.popular-name {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 25px;
    width: 100%;

    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
    padding: 5px; /* Поля */
    text-overflow: ellipsis; /* Многоточие */
}




.popular-price {
    margin: 0;
    padding: 0;
    font-size: 22px;
    align-self: flex-end;
    color: #131313;
}

.popular-basket {
    margin-bottom: -8px;
    margin-left: 15px;
    align-self: flex-end;
}


.popular-scroll {
    height: 50px;
    width: 50px;
    margin: 0 11px;
    align-self: flex-end;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ffffff;
}

.popular-scroll-left {
    background-image: url(../images/popular-scroll-left.png);
}

.popular-scroll-left:hover {
    background-image: url(../images/popular-scroll-left-selected.png);
}

.popular-scroll-right {
    background-image: url(../images/popular-scroll-right.png);
}

.popular-scroll-right:hover {
    background-image: url(../images/popular-scroll-right-selected.png);
}


/* Интересное */
.interesting-container {
    display: flex;
    min-height: 300px;
    justify-content: space-between;
}

.interesting-container p {
    margin-top: 24px;
    padding: 0;
}

.interesting-title {
    font-size: 36px;
    line-height: 40px;
    width: 265px;
    font-weight: bold;
}

.interesting {
    width: 23%;
    padding-top: 30px;
}

.interesting:hover {
    color: #fbad41;
}

.interesting img {
    width:100%;
}

/* Подписка */
.subscribe-background {
    background-color: #282c2f;
}
.subscribe-container {
    display: flex;
    height: 100px;
    align-items: center;
}

.subscribe-container p {
    margin: 0;
    padding: 0;
}
.subscribe-text {
    width: 50%;
    color: #eaeceb;
    font-size: 16px;
}

.subscribe-email {
    width: 23%;
    margin-left: 20px;
    margin-right: 90px;
    box-sizing: border-box;
    font-size: 20px;
    background-color: #282c2f;
    border: none;
    border-bottom: 1px solid #68696d;
}
.subscribe-email:focus {
    outline: none;
    border: 1px solid #68696d;
    color: #eaeceb;
}

.subscribe-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13%;
    height: 50px;
    border-radius: 25px;
    font-size: 16px;
    color: #ffffff;
    background-color: #faac3d;
}

/* Footer */
.footer {
    background-color: #3d4144;
}

.footer-container {
    display: flex;
    height: 330px;
    box-sizing: border-box;
    padding-top: 46px;
    font-size: 18px;
    color: #ffffff;
}

.footer-container p {
    margin: 0;
    padding: 0;
}

.footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer li {
    margin: 0 0 30px 0;
}

.footer a {
    text-decoration: none;
    color: #ffffff;
}

.footer a:hover {
    color: #fbad41;
}

.footer-logo {
    display: flex;
    flex-wrap: wrap;
    margin-right: 6px;
    height: 100px;
    width: 33%;
    font-weight: bold;
    color: #5a5e61;
}

.footer-logo-text {
    font-size: 36px;
}

.footer-logo-text span {
    display: flex;
    margin-left: 6px;
    font-size: 14px;
}

.footer-logo .footer-logo-social-text {
    margin-top: 74px;
    font-size: 16px;
    color: #ffffff;
}

.footer-logo-social {
    width: 45px;
    height: 45px;
    margin-top: 60px;
    margin-left: 16px;
    border-radius: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fbad41;
}

.footer-logo-social-vk {
    background-image: url(../images/footer-vk.png);
}

.footer-logo-social-f {
    background-image: url(../images/footer-facebook.png);
}

.footer-logo-social-tw {
    background-image: url(../images/footer-twitter.png);
}

.footer-container .footer-header {
    margin-bottom: 55px;
    font-weight: bold;
}

.footer-navigation {
    width: 15%;
    margin-right: 20px;
    margin-left: 60px;
}

.footer-information {
    width: 20%;
    margin-right: 20px;
}

.footer-contacts {
    width: 30%;
}

.footer-contacts p {
    display: inline-block;
}
.footer-contacts img {
    margin-right: 5px;
}

.footer-сopyright {
    display: flex;
    height: 60px;
    font-size: 22px;
    align-items: center;
    background-color: #ffffff;
}

/* Стили для автоматически сгенерированных страниц */

.page-template-default section h1 {
    font-size: 50px;
}

.page-template-default section h2 {
    font-size: 40px;
}

.page-template-default section p {
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 30px;
}

/*Стили для интересного*/

.exciting-item {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-size: 20px;
    margin-bottom: 30px;
}

.exciting-item-link {
    display: flex;
    width: 100%;
    margin-bottom: 30px;
    text-decoration: none;
    color: #fbad41;
    font-size: 20px;
    font-weight: bold;
}

.exciting-item-image {
    width: 30%;
    height: 100%;
    margin: 0 5% 30px 0;
}

.exciting-item-text {
    display: flex;
    width: 65%;
    line-height: 40px;
    margin: 0;
    padding: 0;
}


.exciting-item-post {
    font-size: 20px;
    line-height: 40px;

}

.exciting-item-image-post {
    float: left;
    width: 40%;
    height: 40%;
    margin: 0 40px 20px 0;
}

.exciting-item-text-post {
    display: block;
    width: 100%;
}

/*.exciting-item-text-post img {
    display: block;
        float: none;
}*/

/* RESPONSIVE */
@media screen and (min-width: 1140px) {
    .container { max-width: 1140px; }
}
@media screen and (max-width: 1024px) {
    .container {
        width: 97%;
    }

    .header-background,
    .subscribe-background,
    .popular-background,
    .footer { 
        width: 100%;
    }

    .info-city {
        width: 100px;
        margin: 10px 30px 0 60px;
    }

    .banner { width: 67%; }
    .banner-image { width: 33%; }
    .offer {
        display: none;
    }

    .popular-name {
        font-size: 16px;
    }

    .footer-logo-social-text {
        display: none;
    }

}

@media screen and (max-width: 986px) {
    .info-button {
        display: none;
    }

    .popular {
        font-size: 30px;
    }

    .popular-name {
        font-size: 16px;
    }

    .interesting-title {
        font-size: 30px;
    }

}

@media screen and (max-width: 968px) {
    .popular-container {
        height: 650px;
        flex-wrap: wrap;
    }

    .popular {
        width: 30%;
    }
    .popular-title {
        width: 100%;
        height: 50px;
    }
    
    .popular-scroll {
        display: none;
    }

    .interesting-container {
        width: auto;
        flex-wrap: wrap;
    }

    .interesting {
        width: 30%;
    }

    .interesting-title {
        width: 100%;
        height: 50px;
    }
}

@media screen and (max-width: 968px) {
    .footer-logo {
        display: none;
    }

    .footer-logo-social {
        display: none;
    }
    .footer-navigation {
        width: 24%;
    }

    .footer-information {
        width: 30%;
    }

    footer-contacts {
        width: 46%
    }

    .footer-сopyright {
        font-size: 18px;
    }
}

@media screen and (max-width: 840px) {
    .main-menu-search-container {
        display: none;
    }
    .nav {
        width: 100%;
    }

    .info-city {
        display: none;
    }

    .catalog {
        font-size: 28px;
    }

    .subscribe-container {
        flex-wrap: wrap;
    }

    .subscribe-text {
        width: 100%;
    }

    .subscribe-email {
        width: 65%;
    }

    .subscribe-button {
        width: 17%;
    }


    .footer-container {
        font-size: 16px;
    }

}

@media screen and (max-width: 750px) {
    .footer-navigation {
        width: auto;
    }

    .footer-information {
        width: auto;
    }
    .footer-contacts {
        width: auto;
    }

}

@media screen and (max-width: 740px) {

    .main-menu {
        margin-bottom: 20px;
    }

    /*Бургер меню*/
    .main-menu-burger {
        display: flex;
        height: 45px;
        justify-content: flex-start;
        align-items: center;
        font-weight: bold;
        cursor: pointer;
    }

    .main-menu-list {
        display: none;
        position: absolute;
        margin-left: -6px;
        padding-left: 5px;
        background: #f7f2f2;
        width: 100%;
    }

    .main-menu-search-container {
        display: flex;
    }

    .banner {
        width: 70%;
    }

    .banner-image {
        width: 30%;
    }

    .info {
        display: none;
    }

    .catalog-container {
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .catalog {
        width: 48%
    }

    .popular-container {
        height: 1000px;
        justify-content: space-between;
    }

    .popular {
        width: 48%;
        height: 400px;
        margin-top: 0;
    }

    .popular-picture {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .popular-title {
        width: 100%;
        height: 50px;
        margin-top: 30px;
        padding-bottom: 0;
    }

    .interesting-container {
        /*min-height: 690px;*/
        justify-content: space-between;
    }

    .interesting-title {
        width: 100%;
        height: 50px;
        margin-top: 30px;
        padding-bottom: 0;
    }

    .interesting {
        width: 48%;
    }

    .subscribe-email {
        width: 50%;
    }

    .subscribe-button {
        min-width: 120px;
    }

}

@media screen and (max-width: 740px) {

    .popular-name {
        white-space: nowrap; /* Отменяем перенос текста */
        overflow: hidden; /* Обрезаем содержимое */
        padding: 5px; /* Поля */
        text-overflow: ellipsis; /* Многоточие */
    }

    .subscribe-container {
        display: none;
    }

    .footer-container {
        display: none;
    }

    .footer-сopyright {
        background-color: #3d4144;
        color: #fff;
        font-size: 16px;
    }

    .footer-сopyright-text {
        margin: 0;
        padding: 0;
    }
}

@media screen and (max-width: 480px) {

    .main-menu-search-container {
        display: none;
    }

    .banner-text {
        font-size: 25px;
    }

    .catalog {
        width: 100%;
    }

    .popular-container {
        height: auto;
        margin-bottom: 20px;
    }

    .popular {
        width: 100%;
        margin-top: 20px;
    }

    .popular-background {
        padding-bottom: 10px;
    }


    .interesting-title-text,
    .popular-title-text {
        font-size: 20px;
    }

    .interesting {
        width: 100%;
        height: auto;
    }

    .exciting-item-image { width: 70%; }

    .exciting-item-text { width: 100%;  }
}

@media screen and (max-width: 480px) {
    .banner {
        width: 100%;
    }
    .banner-image {
        display: none;
    }
}